.image {
    position: relative;
    max-width: 300px;
}

.img_image {
    display: block;
    width: 100%;
}

.img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.74);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    opacity: 0;
    transition: opacity 0.5s; 
    border-radius: 5px;
}
.img_overla__blur{
    backdrop-filter: blur(3px);
}

.img_overlay > * {
    transform: translateY(80px);
    transition: transform 0.5s; 
}

.img_overlay:hover {
    opacity: 1;
}

.img_overlay:hover > * {
    transform: translateY(0);
}
